/target/

/.classpath
/.springBeans
/.project
/.settings
/.gradle/
/build/

/rest/.classpath
/rest/.project
/rest/.settings
/rest/target

/calculator/.classpath
/calculator/.project
/calculator/.settings
/calculator/target